{% extends "base.html" %}
{% block title %}Create post{% endblock %}
{% block content %}
<h1>Create Post</h1>
    <form action="/create_post" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" required></textarea><br><br>
        
        <button type="submit">Send</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}